{{- $major := default "0" .Capabilities.KubeVersion.Major | trimSuffix "+" | int64 }}
{{- $minor := default "0" .Capabilities.KubeVersion.Minor | trimSuffix "+" | int64 }}
{{- $criticalAddon := and .Values.criticalAddon (or (eq .Release.Namespace "kube-system") (and (ge $major 1) (ge $minor 17))) -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-auth-agent
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster-auth.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cluster-auth.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cluster-auth.selectorLabels" . | nindent 8 }}
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- include "appscode.imagePullSecrets" . | nindent 6 }}
      serviceAccountName: {{ include "cluster-auth.serviceAccountName" . }}
      containers:
      - name: agent
        securityContext:
          {{- toYaml .Values.image.securityContext | nindent 10 }}
{{/*        image: {{ include "image.registry" . }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}*/}}
{{/*        imagePullPolicy: {{ .Values.imagePullPolicy  }}*/}}
        image: rokibulhasan114/cluster-auth:version-update_linux_amd64
        imagePullPolicy: Always
        args:
        - agent
        - --v={{ .Values.logLevel }}
        {{- if .Values.hubKubeconfigSecretName }}
        - --hub-kubeconfig=/var/run/secrets/ocm/auth/kubeconfig
        {{- end }}
        {{- if .Values.clusterName }}
        - --cluster-name={{ .Values.clusterName }}
        {{- end }}
        ports:
        - containerPort: 8080
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
      {{- if .Values.apiServer.healthcheck.enabled }}
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8443
            scheme: HTTPS
          initialDelaySeconds: 5
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8443
            scheme: HTTPS
          initialDelaySeconds: 5
      {{- end }}
        resources:
          {{- toYaml .Values.image.resources | nindent 10 }}
        volumeMounts:
        {{- if .Values.hubKubeconfigSecretName }}
        - mountPath: /var/run/secrets/ocm/auth
          name: ocm-auth
        {{- end }}
      volumes:
      {{- if .Values.hubKubeconfigSecretName }}
      - name: ocm-auth
        secret:
          defaultMode: 420
          secretName: {{ .Values.hubKubeconfigSecretName }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
    {{- if or .Values.tolerations $criticalAddon }}
      tolerations:
      {{- with .Values.tolerations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if $criticalAddon }}
        - key: CriticalAddonsOnly
          operator: Exists
      {{- end -}}
    {{- end -}}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if $criticalAddon }}
      priorityClassName: system-cluster-critical
    {{- end -}}
